@using SurvayArm.Utility
@model List<App.Models.AppModel.SurvayTypeViewModel>

<div class="row">
    <div class="form-group col-md-12 ">
        @foreach (var survay in Model)
        {
            if (survay.LanguageType == (int)EnumLanguageType.Shinhala)
            {
                <a class="btn btn-blue" target="_blank" href="@Url.Action("GetEditSurvayView","Survay" ,new {id = survay.Id})">සිංහල</a>
            }
            else if ((survay.LanguageType == (int)EnumLanguageType.English))
            {
                <a class="btn btn-orange" target="_blank" href="@Url.Action("GetEditSurvayView","Survay" ,new {id = survay.Id})">ENGLISH</a>
            }
            else
            {
                <a class="btn btn-green" target="_blank" href="@Url.Action("GetEditSurvayView","Survay" ,new {id = survay.Id})">தமிழ்</a>
            }

        }
        
    </div>
</div>